@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@200;300;400;500;600;700&display=swap');

:root {
    --clr-primary-400: hsl(26, 100%, 55%);
    --clr-primary-300: hsl(25, 100%, 94%);

    --clr-neutral-very-dark-blue: hsl(220, 13%, 13%);
    --clr-neutral-very-dark-blue-light: hsla(218, 12%, 13%, 0.10);
    --clr-neutral-very-dark-blue-superlight: hsla(218, 12%, 13%, 0.05);
    --clr-neutral-dark-greyish-blue: hsl(219, 9%, 45%);
    --clr-neutral-grayish-blue: hsl(220, 14%, 75%);
    --clr-neutral-light-grayish-blue: hsl(223, 64%, 98%);
    --clr-neutral-white: hsl(0, 0%, 100%);
    --clr-neutral-black: hsl(0, 0%, 0%);

    --font-family: 'Kumbh Sans', sans-serif;
    --font-family-body: var(--font-family);

    --font-weight-regular: 400;
    --font-weight-bold: 700;

    --font-size-300: 0.8125rem;
    --font-size-400: 0.875rem;
    --font-size-500: 0.9375rem;
    --font-size-600: 1rem;
    --font-size-700: 1.45rem;
    --font-size-750: 1.8rem;
    --font-size-800: 2.5rem;
    --font-size-900: 3.5rem;



    --font-size-body: var(--font-size-400);
    --font-size-primary-heading: var(--font-size-800);
    --font-size-secondary-heading: var(--font-size-700);
    --font-size-nav: var(--font-size-500);
    --font-size-button: var(--font-size-300);

    --size-100: .25rem;
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;


}


@media (max-width: 40em) {
    :root {

        --font-size-body: var(--font-size-400);
        --font-size-primary-heading: var(--font-size-750);
        --font-size-secondary-heading: var(--font-size-800);
        --font-size-nav: var(--font-size-300);


    }
}

/*Box Sizing Rules  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}


.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-primary-300 {
    color: var(--clr-primary-300);
}

.text-neutral-very-dark-blue {
    color: var(--clr-neutral-very-dark-blue);
}

.text-neutral-dark-greyish-blue {
    color: var(--clr-neutral-dark-greyish-blue);
}

.text-neutral-grayish-blue {
    color: var(--clr-neutral-grayish-blue);
}

.text-neutral-light-grayish-blue {
    color: var(--clr-neutral-light-grayish-blue);
}

.text-neutral-white {
    color: var(--clr-neutral-white);
}

.text-neutral-black {
    color: var(--clr-neutral-black);
}

.bg-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-primary-300 {
    background-color: var(--clr-primary-300);
}

.bg-neutral-very-dark-blue {
    background-color: var(--clr-neutral-very-dark-blue);
}

.bg-neutral-dark-greyish-blue {
    background-color: var(--clr-neutral-dark-greyish-blue);
}

.bg-neutral-grayish-blue {
    background-color: var(--clr-neutral-grayish-blue);
}

.bg-neutral-light-grayish-blue {
    background-color: var(--clr-neutral-light-grayish-blue);
}

.bg-neutral-white {
    background-color: var(--clr-neutral-white);
}

.bg-neutral-black {
    background-color: var(--clr-neutral-black);
}


.font-weight-bold {
    font-weight: var(--font-weight-bold);
}

.font-weight-regular {
    font-weight: var(--font-weight-regular);
}


.font-size-primary-heading {
    font-size: var(--font-size-primary-heading);
}

.font-size-secondary-heading {
    font-size: var(--font-size-secondary-heading);
}

.font-size-300 {
    font-size: var(--font-size-300);
}

.font-size-400 {
    font-size: var(--font-size-400);
}

.font-size-500 {
    font-size: var(--font-size-500);
}

.font-size-700 {
    font-size: var(--font-size-700);
}


a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}




button {
    border: none;
    outline: none;
    fill: none;
    background: none;
    cursor: pointer;
}


.gap-600 {
    gap: var(--size-600);
}

.gap-700 {
    gap: var(--size-700);
}

.gap-300 {
    gap: var(--size-300);
}

.gap-400 {
    gap: var(--size-400);
}

.gap-500 {
    gap: var(--size-500);
}

.padding-block-100 {
    padding-block: var(--size-100);
}

.padding-block-200 {
    padding-block: var(--size-200);
}

.padding-block-300 {
    padding-block: var(--size-300);
}

.padding-block-400 {
    padding-block: var(--size-400);
}

.padding-block-500 {
    padding-block: var(--size-500);
}

.padding-block-600 {
    padding-block: var(--size-600);
}

.padding-block-700 {
    padding-block: var(--size-700);
}

.padding-block-800 {
    padding-block: var(--size-800);
}

.padding-block-900 {
    padding-block: var(--size-900);
}

.padding-100 {
    padding: 0.7rem 0.6rem;
}

.padding-50 {
    padding: 0.7rem 0.1rem;
}

.margin-block-900 {
    margin-block: var(--size-500);
}

.padding-inline-50 {
    padding-left: 2rem;
    padding-right: 2rem;
}



.container {
    --max-width: 1000px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding)*2));
    margin-inline: auto;

}

.body-container {
    --max-body-width: 900px;
    --body-padding: 1rem;

    width: min(var(--max-body-width), 100% - (var(--body-padding)*2));
    margin-inline: auto;
}

.even-columns {
    display: grid;
    gap: 0rem;
}

@media (min-width: 40em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 5.5rem;
    }




}


.top-padding {
    padding-top: 3rem;
}


/* General Styling */
body {
    font-size: var(--font-size-body);
    font-family: var(--font-family-body);
    color: var(--clr-neutral-dark-greyish-blue);
}

li>a {
    color: var(--clr-neutral-very-dark-blue);
}

.image-avatar {
    width: 3rem;
    height: 3rem;
}

.avatar-container {
    border: 2px solid var(--clr-primary-400);
    display: grid;
    place-content: center;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    visibility: hidden;
}

.avatar-container>* {
    visibility: visible;
}

/* navigation */
.primary-header {
    margin-bottom: var(--size-700);
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.main-image>img {
    border-radius: 0.5rem;
}

.additional-margin {
    margin-inline: 0rem;
}


.flexible {
    display: flex;
    flex-direction: column;
}

.flexible-stretch-button {
    display: flex;
    gap: var(--size-600);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}



@media(max-width: 40em) {
    .cart-div {

        translate: -70% 18% !important;
    }

    .main-image>img {
        border-radius: 0px;
    }

    .padding-block-600 {
        padding-block: var(--size-300);
    }

    .flexible-stretch-button {
        display: flex;
        gap: 0;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
    }


    .flexible {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .top-padding {
        padding-top: 1rem;
    }



    .strecthed-flex {
        display: flex;
        justify-content: space-between;
        padding-inline: 2rem;
        position: relative;
        justify-self: center;
        translate: 0% -200px;
    }


    .change-img-btn {
        height: 2.55rem;
        width: 2.55rem;
        background-color: var(--clr-neutral-white);
        display: grid;
        place-content: center;
        border-radius: 50%;
    }




    .body-container {

        width: auto;
        margin-inline: auto;
    }

    .additional-margin {
        margin-inline: 1.5rem;
    }


    .primary-header {
        margin-bottom: 0;
    }
}


@media (max-width: 40em) {


    .primary-navigation {
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 15%;
        list-style: none;
        padding: 2rem 8.5rem;
        margin: 0;
        transform: translateX(-1000%);
        background: var(--clr-neutral-white);
        box-shadow: 1px 1px 300px var(--clr-neutral-black);
        transition: transform 500ms ease-in-out;

    }

    .primary-navigation>ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .primary-navigation>ul>* {
        font-weight: var(--font-weight-bold);
    }


    .mobile-nav-toggle {
        display: grid;
        height: 4.8rem;

        place-content: center;
    }


    .mobile-nav-toggle .icon-close {
        display: none;
    }

}

.mobile-nav-toggle .icon-close {
    display: none;
}

.flex {
    display: flex;
}

.underline {
    border-bottom: 1px solid var(--clr-neutral-very-dark-blue-light);
}

.faint-underline {
    border-bottom: 1px solid var(--clr-neutral-very-dark-blue-superlight);
}

.reduced-height {
    line-height: 1.1;
}

.strikethrougth {
    text-decoration: line-through;
}

.orng-bg {
    align-self: center;
    background-color: var(--clr-primary-300);
    color: var(--clr-primary-400);
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 0.1rem;
    font-weight: bold;
    border-radius: 25%;
    font-size: 12px;
    width: 35px;
    height: 20px;
}


.button {
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}


.frac-column {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto 1fr;
}

@media (max-width:40em) {
    .frac-column {
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
    }
}

.primary-shadow {
    box-shadow: 0px 15px 10px var(--clr-primary-300);
}

.thumb-image {
    border-radius: 7px;

}



.selected-image {
    display: grid;
    place-content: center;
    border-radius: 9px;
    border: 2px solid var(--clr-primary-400);
    visibility: visible;
}

.not-visible {
    visibility: hidden;
}

.removed-content {
    display: none !important;
}

.removed-content>* {
    display: none !important;
}

.selected-image>* {
    visibility: visible;
}

.add-opacity {
    filter: opacity(0.4);
}

.cursor-pointer {
    cursor: pointer;
}


.cart-div {
    margin-top: 20px;
    translate: -90% 10%;

    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-rows: max-content auto;
    border-radius: 10px;
    width: 330px;
    height: 210px;
    background: white;
    box-shadow: 0px 1px 25px var(--clr-neutral-very-dark-blue-light);
    visibility: hidden;
}

.cart-div-image {
    width: 50px;
    height: 50px;
    border-radius: 6px;
}


.cart-div>div>p {
    font-size: var(--fs-600);
}

.center-grid {
    padding: 20px;
    display: grid;
    align-content: center;
    row-gap: 20px;
}


.center-p {
    display: grid;
    align-items: center;
    justify-content: center;
}

.center-grid>button {
    background-color: var(--clr-primary-400);
    border: none;
    border-radius: 10px;
    height: 43px;
    color: var(--clr-neutral-white);
}

.center-grid>div {
    display: grid;
    grid-template-columns: 60px auto 20px;
    align-items: center;
}

.center-grid>div>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.center-grid>div>div {
    font-size: var(--font-size-400);
}

@media (max-width: 40em) {
    .thumb-section {
        display: none;
    }

}

.nav-list {
    display: flex;
    height: 5rem;
    align-items: center;
}

.nav-list>* {
    height: 5rem;
    display: grid;
    place-content: center;
}

.sneaker-logo {
    height: 4.5rem;
    display: grid;
    place-content: center;
}


.underline-indicators>* {
    cursor: pointer;
    border: 0;
    border-bottom: .2rem solid transparent;
    background-color: transparent;
}

.underline-indicators>*:hover {
    border-bottom: .2rem solid var(--clr-primary-400);
}


.total-items {
    visibility: hidden;
    margin-left: 7px;
    margin-top: 10px;
    color: white;
    display: grid;
    align-content: center;
    justify-content: center;
    width: 19px;
    height: 13px;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    font-size: 10px;
    background-color: var(--clr-primary-400);

}

.width-100 {
    width: 1.5rem;
}